.carousel-inner {
    position: relative;
}

.slider-text {
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    /*transition: all 2s;*/
    z-index: 500;
    color: white;
}

.slider-text:hover {
    opacity: 1;
    transition: all 2s;
}